<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<ul>
  <li><%= link_to 'Articles (TurboDrive)', articles_path %></li>
  <li><%= link_to 'Books (data: {turbo: false})', books_path, data: { turbo: false } %></li>
</ul>
